<% if(success.length> 0 ) {%>
    <div class="alert alert-success mt-1 rounded-pill" role="alert">
        <%= success %>
    </div>
    <% } %>
    <% if(error.length> 0 ) {%>
    <div class="alert alert-danger mt-1 rounded-pill" role="alert">
    <%= error %>
    </div>
<% } %>