<div class="sidebar" id="side_nav">
    <div class="header-box px-5 pt-3 pb-4 d-flex justify-content-between">
        <h1 class="fs-4"><span class=" pb-2 me-2"><i class="fa-solid fa-face-grin-wink fa-2x smile"
                    style="color: #eee;"></i></span> <span class="text-white">POS</span></h1>
        <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i
                class="fa-solid fa-bars-staggered"></i></button>
    </div>

    <ul class="list-unstyled px-2 ">
        <li class="active"><a href="#" class="text-decoration-none px-2 py-2 pb-4 d-block"><i
                    class="fa-solid fa-gauge-high"></i> Dashboard</a></li>
        <hr class="h-color">
        <a class="text-decoration-none px-2  d-block">MASTER</a><br>
        <li class=""><a href="#" class="text-decoration-none  px-2  pb-4 d-flex justify-content-between">
                <span><i class="fa-solid fa-wrench"></i> Good Utilities</span>
                <span class="text-white py-0 px-2"> ></span></a>
        </li>
        <li class=""><a href="#" class="text-decoration-none  px-2 py-2 pb-4 d-block"><i
                    class="fa-solid fa-link"></i> Supliers</a></li>
        <li class=""><a href="#" class="text-decoration-none  px-2 py-2 pb-4 d-block"><i
                    class="fa-solid fa-users"></i> Customers</a></li>
        <li class=""><a href="#" class="text-decoration-none  px-2 py-2 pb-4 d-block"><i
                    class="fa-solid fa-user"></i> Users</a></li>
        <hr class="h-color">
    </ul>
    <ul class="list-unstyled px-2">
        <a class="text-decoration-none px-2 d-block">TRANSACTIONS</a><br>
        <li class=""><a href="#" class="text-decoration-none  px-2 pb-4 d-block"><i
                    class="fa-solid fa-table"></i> Purchases</a></li>
        <li class=""><a href="#" class="text-decoration-none  px-2 py-2 pb-4 d-block"><i
                    class="fa-solid fa-chart-area"></i> Sales</a></li>
    </ul>

</div>