<%- include('../partials/header') %>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Purchases</h1>
                <p class="mb-4">This is data of Purchases</p>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <form action="" id="start-form">
                            <a href="/purchases/create" type="button" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-solid fa-plus"></i></span>
                                <span class="text">Add</span>
                            </a>
                            
                        </form>
                        <div class="text-center">
                            <%- include('../partials/alert') %>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="purchases-table" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Invoice</th>
                                        <th>Time</th>
                                        <th>Total Summary</th>
                                        <th>Supplier</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Invoice</th>
                                        <th>Time</th>
                                        <th>Total Summary</th>
                                        <th>Supplier</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot> 
                            </table>
                        </div>
                    </div> 
                </div> 

            </div> 
            <!-- /.container-fluid -->
            </div> 
            <!-- End of Main Content --> 
        
            <%- include('../partials/footer') %>