<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./stylesheets/style4.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
    <link href="./fontawesome/css/all.css" rel="stylesheet">
    <link href="/public/stylesheets/style4.css" rel="stylesheet">
    <link href="./stylesheets/styledd.css" rel="stylesheet">
    <title>a fkcing a</title>
    <script src="/jquery-3.6.1.min.js"></script>
</head>

<body class="body">
  <div class="name">
    <span>Agung Harwin N</span>
  </div>
  <div class="action">
    <div class="profile" onclick="menuToggle();">
        <img src="/images/112538956.jpeg" alt="" height="80">
    </div>

    <div class="menu">
        <ul>
            <li>
              <i class="fa-solid fa-user-large"></i>
                <a class="a" href="#">Profile</a>
            </li>
            <li>
              <i class="fa-solid fa-gears"></i>
                <a href="#">Settings</a>
            </li>
            <li>
              <i class="fa-solid fa-list"></i>
                <a href="#">Activity Log</a>
            </li>
      
        </ul>
    </div>
</div>
<script>
    function menuToggle(){
        const toggleMenu = document.querySelector('.menu');
        toggleMenu.classList.toggle('active')
    }
</script>

</body>

</html>