<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./stylesheets/style4.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
    <link href="./fontawesome/css/all.css" rel="stylesheet">
    <link href="/public/stylesheets/style4.css" rel="stylesheet">
    <link href="./stylesheets/styledd.css" rel="stylesheet">
    <title>a fkcing a</title>
    <script src="/jquery-3.6.1.min.js"></script>
</head>

<body class="body">
 <div class="hero">
    <nav>
      <img src="/images/logo2x.png" class="logo">
      <ul>
      
        <li><a href="#">Agung Harwin N</a></li>
      </ul>
      
      <img src="/images/112538956.jpeg" class="user-pic">
      <div class="sub-menu-wrap">
        <div class="sub-menu">
          <div class="user-info">
            <img src="/images/112538956.jpeg" class="rounded-circle"height="60px">
            <h2>Agung Harwin N</h2>
          </div>
          <hr>
          <i class="fa-solid fa-user-large"></i>
          <img src="/images/112538956.jpeg">
          <p>Profile</p>
          <span></span>
        </a>
        <a href="#" class="sub-menu-link">
          <img src="/images/112538956.jpeg">
          <p>Setting</p>
          <span></span>
        </a>
        <a href="#" class="sub-menu-link">
          <img src="/images/112538956.jpeg">
          <p>Activity Log</p>
          <span></span>
        </a>
        </div>
      </div>
      
    </nav>
 </div>
</body>

</html>