<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/stylesb.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="./fontawesome/css/all.css" rel="stylesheet">
    <link href="./stylesheets/styledd.css" rel="stylesheet">
    <link href="./stylesheets/style4.css" rel="stylesheet">
 
    <title>Dashboard</title>
    <script src="/jquery-3.6.1.min.js"></script>
</head>

<body>
    <div class="main-container d-flex">
        <div class="sidebar" id="side_nav">
            <div class="header-box px-5 pt-3 pb-4 d-flex justify-content-between">
                <h1 class="fs-4"><span class=" pb-2 me-2"><i class="fa-solid fa-face-grin-wink fa-2x"
                            style="color: #eee;"></i></span> <span class="text-white">POS</span></h1>
                <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i
                        class="fa-solid fa-bars-staggered"></i></button>
            </div>

            <ul class="list-unstyled px-2 ">
                <li class="active"><a href="#" class="text-decoration-none px-2 py-2 pb-4 d-block"><i
                            class="fa-solid fa-gauge-high"></i> Dashboard</a></li>
                <hr class="h-color">
                <a class="text-decoration-none px-2  d-block">MASTER</a><br>
                <li class=""><a href="#" class="text-decoration-none  px-2  pb-4 d-flex justify-content-between">
                        <span><i class="fa-solid fa-wrench"></i> Good Utilities</span>
                        <span class="text-white py-0 px-2"> ></span></a>
                </li>
                <li class=""><a href="#" class="text-decoration-none  px-2 py-2 pb-4 d-block"><i
                            class="fa-solid fa-link"></i> Supliers</a></li>
                <li class=""><a href="#" class="text-decoration-none  px-2 py-2 pb-4 d-block"><i
                            class="fa-solid fa-users"></i> Customers</a></li>
                <li class=""><a href="#" class="text-decoration-none  px-2 py-2 pb-4 d-block"><i
                            class="fa-solid fa-user"></i> Users</a></li>
                <hr class="h-color">
            </ul>
            <ul class="list-unstyled px-2">
                <a class="text-decoration-none px-2 d-block">TRANSACTIONS</a><br>
                <li class=""><a href="#" class="text-decoration-none  px-2 pb-4 d-block"><i
                            class="fa-solid fa-table"></i> Purchases</a></li>
                <li class=""><a href="#" class="text-decoration-none  px-2 py-2 pb-4 d-block"><i
                            class="fa-solid fa-chart-area"></i> Sales</a></li>
            </ul>

        </div>
        <div class="hero">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="d-flex d-md-none d-block">
                        <button class="btn px-1 py-0 open-btn"><i class="fa-solid fa-bars-staggered"></i></button>
                        <a href="#" class="navbar-brand fs-4"><span
                                class="bg-dark rounded px-2 py-20 text-white">PoS</span></a>

                    </div>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                     
                    <i class="fa-regular fa-bell bell"></i>
                    <div class="solid"></div>
                    <a class="name" onclick="menuToggle()">Agung harwin</a>
                    <div class="action">
                        <div class="profile" onclick="menuToggle();">
                            <img src="/images/112538956.jpeg" alt="">
                        </div>
                        
                        <div class="menu">
                            <h3>
                                Agung harwin
                                <div>
                                    Operational Team
                                </div>
                            </h3>
                            <ul>
                                <li>
                                    <i class="fa-solid fa-user-large"></i>
                                    <a class="a" href="#"> Profile</a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-gears"></i>
                                    <a href="#">Settings</a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-list"></i>
                                    <a href="#"> Activity Log</a>
                                </li>
                                <hr>
                                <li>
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    <a href="#"> Logout</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <script>
                        function menuToggle() {
                            const toggleMenu = document.querySelector('.menu');
                            toggleMenu.classList.toggle('active')
                        }
                    </script>


                </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script>
        $(".sidebar ul li").on('click', function () {
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass('active');
        })
        $('.open-btn').on('click', function () {
            $('.sidebar').addClass('active');
        })
        $('.close-btn').on('click', function () {
            $('.sidebar').removeClass('active');
        })

    </script>
    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        }
    </script>

</body>

</html>