<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/stylesb.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="./fontawesome/css/all.css" rel="stylesheet">
    <link href="./stylesheets/styledd.css" rel="stylesheet">
    <link href="./stylesheets/style4.css" rel="stylesheet">

    <title>Dashboard</title>
    <script src="/jquery-3.6.1.min.js"></script>
</head>

<body>
    <div class="main-container d-flex">
        <%- include('./partials/sidebar') %>
        <%- include('./partials/navbar') %>
    </div>


  <script>
        $(".sidebar ul li").on('click', function () {
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass('active');
        })
        $('.open-btn').on('click', function () {
            $('.sidebar').addClass('active');
        })
        $('.close-btn').on('click', function () {
            $('.sidebar').removeClass('active');
        })

    </script>
    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        }
    </script>

</body>

</html>