<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.104.2">
  <title>Sign in</title>

  
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <!-- Favicons -->
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/stylesheets/signin.css">
</head>

<body class="body">

  <div class="container">
    <div style="display: flex;">
      <main class="main">
        <img src="./images/logo2x.png" alt="" class="logo" srcset="">
      </main>
      <aside class="aside text-center">
        <form action="/register" method="post">
          <div class="form"> 
            <h1 class="h1">Point of Sales</h1>
            <hr class="col-10 ">
            <h2 class="h3 mb-5 fw-normal">Sign up</h2>

            <div class=" form-floating mb-3">
              <input type="email" class="form-control rounded-pill" id="email" name="email" placeholder="Enter Email Address....">
              <label for="email">Enter Email Address</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-pill " id="name" name="name" placeholder="Your Name">
              <label for="name">Name</label>
            </div>

            <div class="form-floating mb-3 ">
              <input type="password" class="form-control rounded-pill " id="password" name="password"
                placeholder="Password">
              <label for="password">Password</label>
            </div>
            <div class="row mb-3">
              
              <div class="col-sm-12">
                <select id="role" name="role"  class="form-select rounded-pill role">
                  <option value="" disabled selected> Choose role ... </option>
                  <option value=Admin>Admin</option>
                  <option value=User>User</option>
                </select>
              </div>
            </div>
            <div class="checkbox mb-3 col-5 px-2">
              <label class="mb-2 rmb">
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <%- include('./partials/alert') %>
            <button class="w-100 btn btn-lg btn-primary rounded-pill mb-4" type="submit">sign up</button>
          
            <p class="mt-6 mb-3 text-muted">have account? please <a href="/">sign in</a></p>
            <hr>
          
          </div>
        </form>
      </aside>


    </div>

  </div>
</body>
</html>