@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(231, 228, 228);
    height: 100vh;
}

.smile {
    transform: rotate(-20deg);
}

.bell {
    position: absolute;
    justify-content: end;
    margin-left: 1350px;
    font-size: 30px;
    cursor: pointer;
}


.search {
    margin-left: 10px;
    height: 40px;
    width: 50px;

}

.solid {
    border-left: 2px rgb(202, 192, 192) solid;
    height: 60px;
    width: 10px;
    display: inline-block;
    margin-left: 1140px;
}

.name {
    cursor: pointer;
    text-decoration: none;
    color: #818181;
    width: 215px;
    padding-right: 22px;
    text-transform: capitalize;
}

.profile {
    position: relative;
    top: -15px;
}

.icons-size {
    color: #333;
    font-size: 14px;
}

.action {
    position: fixed;
    right: 30px;
    top: 20px
}

.action .profile {
    border-radius: 50%;
    cursor: pointer;
    height: 60px;
    overflow: hidden;
    position: relative;
    width: 60px;
}

.action .profile img {
    width: 100%;
    top: 0;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
}

.action .menu::before {
    background-color: #fff;
    content: '';
    height: 20px;
    position: absolute;
    right: 30px;
    transform: rotate(45deg);
    top: -5px;
    width: 20px;
}

.action .menu h3 {
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0px;
    text-align: left;
    width: 100%;
    text-transform: capitalize;
}

.action .menu h3 div {
    color: #818181;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.action .menu ul li {
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}

.action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s
}

.action .menu ul li a {
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    transition: 0.5s;
}

.action .menu ul li:hover img {
    opacity: 1;
}

.action .menu ul li:hover a {
    color: #ff00ff;
}