<%- include('../partials/header') %>


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Profil</h1>


                    <!-- DataTales Example -->
                    <form action="" method="post">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h4 class="m-0 font-weight-bold text-primary">Your Profile</h6>
                            </div>
                            <div class="card-body">
                                
                                <div class="row mb-3 form-switch">

                                    <label for="email" class="form-check-label col-sm-2 text-lg text-gray-800">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="email" placeholder="Email"
                                            value="<%= user.email %>">
                                    </div>
                                </div>
                                <div class="row mb-3 form-switch">

                                    <label for="name" class="form-check-label col-sm-2 text-lg text-gray-800">Nama</label>
                                    <div class="col-sm-10">
                                        <input type="string" class="form-control" name="name" placeholder="Name"
                                            value="<%= user.name %>">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-footer">
                              <div class="btn-group">
                                  <button type="submit" class="btn btn-success active" title="Save" aria-current="page"><i
                                          class="fas fa-solid fa-database"></i></button>
                                  <button class="btn btn-success ">Update</button>
                              </div>
                             
                          </div>

                        </div>
                    </form>
                </div>
        </div>

        <!-- /.container-fluid -->

        <!-- End of Main Content -->
<%- include('../partials/footer') %>